body{
width: 1250px;
margin: 0;


}
header{
    background-image: url(../img/pattern.png);
    background-size: 25%;
    background-color: cornflowerblue;
    padding-top: 15px;
    }

#logo {
     width: 250px; 
     margin-top: 30px; 
}

#container{
    margin: 5px;
}

h1{
    margin-bottom: 0;
}

a{
    text-decoration: none
}
#credit {
    color: lightslategray;
    font-size: 10px;
    margin-top: 0;
}

#photo-description{
    font-size: 10px;
}

.evidence{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

th{
    color: white;
    background-color: dodgerblue;
}

.blu-row{
    background-color: rgba(35, 198, 248, 0.527);
}

table{
    border-spacing: 0;
}
#suggerimenti{
    color: lightslategray;
}

#foto-monitor{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
}

.foto-text{
    padding: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}

#foto-graph{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 200px;
    margin-top: 10px;
}